$pale_grey:#f9f9f9;


@mixin font_smoothing{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  margin:0;
  padding:0;
  body{
    margin: 0;
    padding: 0;

    background: $pale_grey;
    color: #4d4d4d;

    line-height: 1.4em;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;

    font: {
      family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      size: 14 px;
      weight:300;
    }

    @include font_smoothing;
  }
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
  
	@include font_smoothing;
}

:focus {
   outline: 0;
}
