<table>
  <thead>
    <tr>
      <th></th>
      <th>熱門影片名稱</th>
      <th>頻道名稱</th>
      <th>資料發表日期</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let item of list;let i= index'>
      <td>{{i}}</td>
      <td>{{item.title}}</td>
      <td>{{item.channelTitle}}</td>
      <!--<td>{{item.publishedAt}}</td>-->
      <td>{{item.publishedAt | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
    </tr>
  </tbody>
</table>
