<ul>
  <li><a
      [routerLink]="'/home'"
      [routerLinkActive]="'active'"
      >Home</a>
  </li>

  <li><a
      [routerLink]="'/about'"
      [routerLinkActive]="'active'"
      >About</a>
  </li>

  <li>
  <a
    routerLink="/login"
    routerLinkActive="active"
  >
    Logout
  </a>
</li>
</ul>


<router-outlet></router-outlet>
